/BurgerBuilder.class
/Burger.class
/HeseBuilder.class
/Sampyla.class
/Pihvi.class
/Juusto.class
/Kastike.class
/Kasvikset.class
/LihaBurgerBuilder.class
/JuustopBurgerBuilder.class
/JuustoBurgerBuilder.class
/KanaBurgerBuilder.class
/Kokki.class
/Main.class
