/IPizza.class
/PizzaPohja.class
/PohjaNormaali.class
/PohjaRuis.class
/PizzaDecorator.class
/Pohja.class
/Kana.class
/Kinkku.class
/Salami.class
/Jalapeno.class
/Paprika.class
/Sipuli.class
/Main.class
/Valkosipuli.class
/Pizza.class
